<div class="page-header">
  <h1><%= hello_world @question.title %></h1>
</div>

<%= @question.body %>

<h2>Antworten</h2>
<ul>
<%= render @question.answers %>
</ul>

<%= link_to "Zurück", questions_path, :class => 'btn btn-default'  %>
